UserPresentacion/Connected Services/ServiceUser/UserConsumer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserConsumer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50734/UserConsumer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50734/UserConsumer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50734/UserConsumer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserConsumer_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_SearchUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUser" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_SearchUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_ReadUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadUsers" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_ReadUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserConsumer_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserConsumer">
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserConsumer/UpdateUser" message="tns:IUserConsumer_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserConsumer/UpdateUserResponse" message="tns:IUserConsumer_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserConsumer/CreateUser" message="tns:IUserConsumer_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserConsumer/CreateUserResponse" message="tns:IUserConsumer_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserConsumer/SearchUser" message="tns:IUserConsumer_SearchUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserConsumer/SearchUserResponse" message="tns:IUserConsumer_SearchUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserConsumer/ReadUsers" message="tns:IUserConsumer_ReadUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserConsumer/ReadUsersResponse" message="tns:IUserConsumer_ReadUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserConsumer/DeleteUser" message="tns:IUserConsumer_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserConsumer/DeleteUserResponse" message="tns:IUserConsumer_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserConsumer" type="tns:IUserConsumer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserConsumer/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserConsumer/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <soap:operation soapAction="http://tempuri.org/IUserConsumer/SearchUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUsers">
      <soap:operation soapAction="http://tempuri.org/IUserConsumer/ReadUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserConsumer/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserConsumer">
    <wsdl:port name="BasicHttpBinding_IUserConsumer" binding="tns:BasicHttpBinding_IUserConsumer">
      <soap:address location="http://localhost:50734/UserConsumer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>